@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');

/*NAV CONTAINER*/

.navbar {
  margin: 3%;
}
.navbar .links {
  margin-left: 2%;
  text-align: center;
}
.navbar .links li {
  display: inline;
  margin-right: 5%;
  margin-top: 2%;
}
.navbar .links li a {
  text-decoration: none;
  color: black;
  font-family: 'Lato';
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 2px;
}
.navbar .links li a:hover {
  color: #008080;
}

/*CONNECT CONTAINER*/

.connect-container {
  background-color: #93CCC6;
  padding-top: 5%;
}

#github-connect-image {
  float: left;
  margin-bottom: 5%;
}

#linkedin-connect-image {
  float: right;
  margin-bottom: 5%;
}

#connect-icons {
  margin: 25%;
  margin-top: 2%;
}

.connect-container h1, .contact-container h1, .resume-container h1, .project-container h1 {
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat Alternates', sans-serif;
  display: inline;
  padding-bottom: 5px;
  padding-right: 5px;
}

h1 {
  padding: 10%;
}

/*CONTACT CONTAINER*/

.contact-container {
  margin: 20px;
  padding-top: 5%;
}

#contact-info {
  text-align: center;
}

#email-icon, #map-icon {
  margin: 5px;
}

#email-info, #location-info {
  margin: 5%;
}

/*HOME CONTAINER */

.home-container p {
  color: black;
  margin: 10%;
  text-align: center;
}

/*PROJECTS CONTAINER*/

.project-container {
  background-color: #FFEAAD;
/*  padding-bottom: 5%;
*/  padding-top: 5%;
}

#project-image {
  margin: 5%;
  display:inline-block;
  vertical-align:middle;
  margin:0 2% 20px;
}

.project-tile {
  background-color: #FFEAAD;
  /*margin-top: 1%;*/
  padding-bottom: 5%;
  width: 0%;
  /*margin-left: 0.5%;*/
  /*margin-right: 0.5%;*/
  /*margin-bottom: 5%;*/
  /*border: solid white 2px;*/
}

.project-tile h2 {
  /*text-align: center;*/
  padding-top: 20px;
  /*padding-bottom: 3px;*/
  font-family: 'Amatic SC', cursive;
  font-size: 55px;
  /*line-height: 1.8;*/
  color: black;
  text-transform: uppercase;
  /*position: relative;*/
  display: inline;
  font-weight: bold;
  letter-spacing: 0.1em;
  /*text-shadow: -1.5px -1.5px 0px grey;*/
}

.columns {
  padding-right: 0;
  padding-left: 0;
}

#github-project, #heroku-project {
  width: 10%;
  height: 10%;
  padding: 5px;
  margin-bottom: 2%;
}

#font-awesome-icon {
  display: inline;
  float: right;
  position: absolute;
  margin: 1%;
  font-size: 300%;
}

#project-image:hover .rollover {
	transform:translateX(0)
}

/*#project-image img {
	width:100%;
	height:auto
}*/

.rollover {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,0.6);
	color:#fff;
	transform:translateX(-100%);
	transition:all .5s ease;
}
.roll-inner {
	display:table;
	width:100%;
	height:100%;
}
.roll-content {
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}
.roll-content p {
	width:70%;
	margin:auto;
}
.point-of-reference {
	position:relative;
	margin:auto;
	text-align:center;
	overflow:hidden;
}

#hoverinfo {
  /*top: 10%;*/
  /*left: 10%;*/
  font-size: 50%;
  color: black;
  padding: 5px;
  /*padding-bottom: 7px;*/
  /*margin-bottom: 1px;*/
}
#hoverinfo p {
  cursor: pointer;
  display: none;
}
#hoverinfo:hover p {
  cursor: pointer;
  color: #000000;
  background-color: white;
  display: block;
  border-radius: 5px;
  left: 5%;
  padding: 5px 15px;
  position: relative;
  display: inline;
  width: 100px;
  z-index: 98;
  font-size: 8px;
}

/*RESUME*/

.resume-container {
  background-color: white;
  padding-top: 5%;
}

#download-icon {
  padding: 5px;
}

.tech-skills-container {
  text-align: center;
  padding: 5%;
}

.languages-container, .databases-container, .software-container {
/*  display: block;
*/}

.languages-container {
  float: left;
  margin-left: 16%;
}

.databases-container {
  float: right;
  margin-right: 16%;
}

#resume-header {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
  display: inline;
  font-family: 'Montserrat Alternates', sans-serif;
}

.tech-skills-title {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Montserrat Alternates', sans-serif;
}

.languages-container .columns:last-child {
  float: left !important;
}

.databases-container .columns:last-child {
  float: left !important;
}

.software-container .columns:last-child {
  float: left !important;
}

/*EDUCATION*/
.education-tile, .profex-tile {
  background-color: #F6F1DE;
  border: solid black 1px;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 15px;
  height: 150px;
}

.education-container, .profex-container {
  padding-bottom: 5%;
}

#up-button {
  display: inline;
}

#fa-up-arrow {
  font-size: 150%;
  padding-top: 2%;
  padding-bottom: 2%;
  color: #0AABBA;
}


@media only screen and (max-width: 640px) {

  .contact-container .button {
    width: 100%;
  }
  #font-awesome-icon {
    font-size: 200%;
  }
  .education-tile, .profex-tile {
    margin-left: 0;
    margin-right: 0;
    height: 200px;
  }
}
